# Flutter / Dart
.dart_tool/
.build/
build/
.pub-cache/
.pub/

# Android
android/local.properties
android/.gradle/
android/app/build/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/

# IDE & OS
.idea/
.vscode/
*.DS_Store
